header {
    text-align: center;
    color: black;
    border-bottom: 10px solid black;
}

textarea{
    border: none;
    resize: none;
    color: black;
    border-left: 3px solid black;
    padding: 15px;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1;
}

.current-date {
    font-size: 30px;
}

.details{
    white-space: pre-wrap;
}
  
.time-block{
    text-align: center;
    border-radius: 15px;
}
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
    margin: 8px;
}
  
.hour {
    background-color: white;
    color: black;
    border-top: 3px dashed black;
}
  
.past {
    background-color: #b6b6b6;
    color: white;
}
  
.current {
    background-color: #f5433a;
    color: white;
}
  
.future {
    background-color: #4eda4e;
    color: white;
}
  
.saveBtn {
    border-left: 3px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
}
  